= render partial: 'home/home_slider'
= render partial: 'home/menu'
= render partial: 'home/about_us'
= render partial: 'home/products'
= render partial: 'home/timeline'
= render partial: 'home/services'
= render partial: 'home/customers'
= render partial: 'home/news'
= render partial: 'home/fun_facts'
= render partial: 'home/contact_form'
= render partial: 'home/map'
= render partial: 'home/contact_details'
= render partial: 'home/social_icons'
= render partial: 'home/footer'
