/*
*= require frontend/icomoon-style
*= require frontend/bootstrap.min
*= require frontend/animate.min
*= require frontend/hover-min
*= require frontend/owl.carousel
*= require frontend/icomoon-style
*= require frontend/img-hover
*= require frontend/owl.transitions
*= require frontend/prettyPhoto
*= require frontend/YTPlayer
*= require frontend/tweet-carousel
*= require frontend/mapplic
*= require frontend/mapplic-ie
*= require frontend/style
*= require frontend/responsive
*= require frontend/color_panel
*= require frontend/color-schemes/blue
*/
