= render partial: 'home_slider'
= render partial: 'menu'
= render partial: 'about_us'
= render partial: 'services'
= render partial: 'video_products'
= render partial: 'news'
= render partial: 'contact_details'
= render partial: 'home/social_icons'
= render partial: 'footer'